
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= t('record_created', date: @current_date )%> </p>
    <h1><%= @user['first_name'] %> <%= @user['last_name'] %></h1>
    <p>
      <%= t('register_succesfull', title: @book['title'], author: @book['author']) %>.
    </p>
    <p>
      <%= t('info_rent', start_date: @rent['start_date_rent'], end_date: @rent['end_date_rent']) %>
    </p>
    <p><%= t('email_regards') %></p>
  </body>
</html>
